In [1]:
import sys,os
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), os.pardir, 'src/')))

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import networkx as nx
import mysql.connector
import run_FLUTE

In [3]:
#Add username and password for local FLUTE DB
db_user=""
db_password=""

## Using FLUTE to filter interactions

In [4]:
data = [['CD4','','P01730','9606.ENSP00000011653','','','','','AKT','','P31749','9606.ENSP00000451828','','','','']]
ints = pd.DataFrame(data)

In [5]:
raw_data = run_FLUTE.findInts(db_user,db_password,'localhost', 'flute', ints.values,0,0,0)
scores = pd.DataFrame(raw_data[:,[0,1,2,3,4]])
scores.columns = ["Element 1", "Element 2", "Escore", "Tscore", "Dscore"]

In [6]:
scores

  Element 1 Element 2 Escore Tscore Dscore
0                        186    254      0
1                        186    254      0

## Using FLUTE to query an individual protein

In [ ]:
query_prot = "P00533"

In [ ]:
!unzip ../supplementary/oa_file_list.txt.zip

In [ ]:
!python3 ../src/years.py

In [ ]:
#get related papers
rel_papers = run_FLUTE.getRelatedPapers(db_user,db_password,'localhost', 'flute', query_prot)

In [ ]:
rel_papers

## Using FLUTE to analyze a paper set

In [ ]:
#get related interactions
rel_ints = run_FLUTE.getRelatedInts(db_user,db_password,'localhost', 'flute', 'inputs/papers.xlsx')

In [ ]:
G = nx.from_edgelist(rel_ints[:,:2])
nx.draw(G,pos=nx.circular_layout(G),with_labels=True)
plt.show()